LOCAL_MIRRORS_DIR_ON_DARWIN=/Volumes/data/mirrors
LOCAL_MIRRORS_DIR_ON_LINUX=/data/mirrors
EXTERNAL_MIRRORS_DIR_ON_DARWIN=/Volumes/PJ-HFS/mirrors
EXTERNAL_MIRRORS_DIR_ON_LINUX=/run/media/$SUDO_USER/PJ-HFS/mirrors
